<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086767477140-bcc69gupr1bfcv4i4jtrjjg073qchi3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086767477140-bcc69gupr1bfcv4i4jtrjjg073qchi3a</string>
	<key>API_KEY</key>
	<string>AIzaSyASE84Vm31wVqvZYBJow0HsC8ut-DdQw0c</string>
	<key>GCM_SENDER_ID</key>
	<string>1086767477140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hrcho.VideoRecorder</string>
	<key>PROJECT_ID</key>
	<string>ios-video-recorder-78fbc</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-video-recorder-78fbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086767477140:ios:4f6b8cfd784b9f132e9f81</string>
</dict>
</plist>